<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherlock Phish</title>
</head>
<body>
    <h1> What Is Phishing?</h1>
    <p>Phishing is another type of cyber attack. Phishing got its name from “phish” meaning fish. It is a common phenomenon to put bait for the fish to get trapped. Similarly, phishing works. It is an unethical way to dupe the user or victim to click on harmful sites. The attacker crafts the harmful site in such a way that the victim feels it to be an authentic site, thus falling prey to it.<br> The most common mode of phishing is by sending spam emails that appear to be authentic and thus, taking away all credentials from the victim. The main motive of the attacker behind phishing is to gain confidential information like:<br></p>
    <p><li>Password<br>
        <li>Credit card details<br>
       <li>Social security numbers<br>
        <li>Date of birth</p>
            <p>The attacker uses this information to further target the user impersonate the user and cause data theft. The most common type of phishing attack happens through email. Phishing victims are tricked into revealing information that they think should be kept private.<br> The original logo of the email is used to make the user believe that it is indeed the original email. But if we carefully look into the details, we will find that the URL or web address is not authentic.</p>
           <p>To learn more about what phishing is:<a href="https://www.phishing.org/what-is-phishing"> What Is Phishing?</a></p>
           <p>To learn about the types of phishing-<a href="https://www.fortinet.com/resources/cyberglossary/types-of-phishing-attacks">Tyes Of Phishing</a></p>
        </body>
        </html>


    