<html>
    <body>
        

Dear customer,</br>We detected an unusual login attempt on your SecureBank account from a new device.
<br>

Location: India<br>
Time: 10|1|2025, 7:30am<br><br>

For your security, we have temporarily restricted your account access. To regain access, please verify your account details within 24 hours.<br><br>

Click below to verify:
<a HREF = >"Verify My Account"</a>

If you do not verify your account, it will be permanently locked.

Thank you for choosing SecureBank.<br><br>

Sincerely,
SecureBank Team
    </body>
</html>