<html>
    <body>
        

<p>Dear customer,</br>We detected an unusual login attempt on your SecureBank account from a new device.</p>
<br>

<p>Location: India<br></p>
<p>Time: 10|1|2025, 7:30am<br><br></p>

<p>For your security, we have temporarily restricted your account access. To regain access, please verify your account details within 24 hours.<br><br></p>

<p>Click below to verify:</p>
<p><a href="https://sites.google.com/view/code-cadets/home" >"Verify My Account"</a></p>

<p>If you do not verify your account, it will be permanently locked.</p>

<p>Thank you for choosing SecureBank.<br><br></p>

<p>Sincerely,</p>
<p>SecureBank Team</p>
    </body>
</html>